@import "mixin";

$dark: #31352B;
$darkBlue-900: #363853;
$orange-900: #FF6838;
$bg-color: #F9FAFF;
$icon-bg: #ECECEC;
$dots-bg: #C2C2C2;
$white: #fff;


%rubik-medium{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-regular{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-italic {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: italic;
}

%focus {
box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
border-radius: 5px;
color: $orange-900;
background-color: $bg-color;
}

%hover {
color: $orange-900;
background-color: $bg-color;
box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
border-radius: 5px;
}

%active {
  opacity: 0.5;
}

%transition {
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out, fill 0.3s ease-in-out,  text-shadow 0.3s ease-in-out, fill 0.3s ease-in-out, stroke 0.3s ease-in-out, transform 0.3s ease-in-out;
}

$breakpoints: (
  "phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px
);




